<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header>
        <div><img src="/logo.jpg" alt=""></div>
        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li></li><a href="#">Crea tu cuenta</a></li>
            </ul>
        </nav>
    </header>
    <section>
     <!-- Carrusel-->
        <article>
            <img src="/img-carrusel1" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img-carrusel2" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img-carrusel3" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <div><img src="/right-arrow" alt=""></div>
        <div><img src="/left-arrow" alt=""></div>
    </section>
    <section>
     <!-- Productos-->
     <article>
         <img src="/img-producto" alt="imagen de producto 1">
         <h4>Nombre del producto</h4>
         <p>Descripcion del producto</p>
         <a href="/detalleDelProducto5">Ver mas...</a>
     </article>
     <article>
        <img src="/img-producto" alt="imagen de producto 1">
        <h4>Nombre del producto</h4>
        <p>Descripcion del producto</p>
        <a href="/detalleDelProducto5">Ver mas...</a>
    </article>
    <article>
        <img src="/img-producto" alt="imagen de producto 1">
        <h4>Nombre del producto</h4>
        <p>Descripcion del producto</p>
        <a href="/detalleDelProducto5">Ver mas...</a>
    </article>


    </section>
    <footer>


    </footer>
</body>
</html>